* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(178, 224, 140);
}
.barra{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
    align-content: center;
}
#logo__barra{
    width: 90px;
    height: 50px;
}
picture img{
    height: 70px;
}
#carrito{
    width: 25px;
    height: 25px;
}
nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.barra a {
    color: rgb(178, 224, 140);
    text-decoration: none;
    list-style: none;
    font-family: "Oswald", sans-serif;
}
#busqueda{
    width: 400px;
    height: 30px;
}
.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.portada__titulo{
    color: rgb(178, 224, 140); 
    font-family: "Poppins", sans-serif;
}
.portada__imagen img{
    height: 25rem;
}
.portada__botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
}
.boton__learnmore, .boton__calltoaction{
    border: 1px solid rgb(178, 224, 140);
    padding: 0.8rem;
    border-radius: 2rem;
    text-decoration: none;
    list-style: none;
}
.boton__learnmore{
    background-color: rgb(178, 224, 140);
    color: black;
}
.boton__calltoaction{
    background-color: black;
    color: rgb(178, 224, 140);
}
.contenedor__textinfo{
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
}
.textinfo{
    font-size: 1.5rem;
    width: 50vw;
    padding-top: 2rem;
    font-style: italic;
    font-family: "Oswald", sans-serif;
}